@keyframes move {
    from {
      
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes changeColor {
    from {
      
    }
    to {
        transform: translateY(100px);
    }
  }

  .element {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: move 2s linear infinite, changeColor 2s linear infinite alternate;
  }